@model UserRegistration.Models.Registration
@{
	ViewData["Title"] = "Sign Up";
}

<div class="container">
	<div class="row">
		<div class="col-6 offset-2 border border-primary rounded pl-5 pr-5 pb-5 mt-2">
			<div class="text-center">
				<h1 class="text-info">User Registration Form</h1>
			</div>
			<h3 class="text-danger text-center">@TempData["errorMessage"]</h3>
			<form method="post" asp-action="SignUp">
				<div class="form-group">
					<label asp-for="UserName"></label>
					<input type="text" asp-for="UserName" placeholder="Enter Email" class="form-control" autocomplete="off" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<br />
				<div class="form-group">
					<label asp-for="Password"></label>
					<input type="password" asp-for="Password" placeholder="Enter password" class="form-control" autocomplete="off" />
					<span asp-validation-for="Password" class="text-danger"></span>

				</div>
				<br />
				<div class="form-group ">
					<label asp-for="Gender"></label>
					<label>
						@Html.RadioButtonFor(model => model.Gender, "Male")
						Male
					</label>
					<label>
						@Html.RadioButtonFor(model => model.Gender, "Female")
						Female
					</label>
					<span asp-validation-for="Gender" class="text-danger"></span>
				</div>
				<br />
				<div class="form-group">
					<label asp-for="Dateofbirth"></label>
					<input type="date" asp-for="Dateofbirth" class="form-control" />
					<span asp-validation-for="Dateofbirth" class="text-danger"></span>

				</div>
				<br />
				<div class="form-group">
					<label for="SecurityQuestion">Security Question:</label>
					<select id="SecurityQuestion" name="SecurityQuestion">
						<option value="What was your first pet's name?">What was your first pet's name?</option>
						<option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
						<option value="What was the name of the street you grew up on?">What was the name of the street you grew up on?</option>
						<option value="What is your favorite color?">What is your favorite color?</option>
						<option value="What is your favorite food?">What is your favorite food?</option>
					</select>
					<span asp-validation-for="SecurityQuestion" class="text-danger"></span>

				</div>
				<br />
				<div class="form-group">
					<label asp-for="Answer"></label>
					<input type="text" asp-for="Answer" class="form-control" />
					<span asp-validation-for="Answer" class="text-danger"></span>

				</div>
				<br />
				<div class="form-group">
					<input type="submit" class="btn btn-success btn-lg mb-1 float-left" value="Save" />
					&nbsp;
					<input type="reset" class="btn btn-success btn-lg mb-1 float-left" value="reset" />
					@*<button type="reset" class="btn btn-success btn-lg mb-1 float-right">Cancel</button>*@
				</div>
				<br />
			</form>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

